<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>684742148147-f6g3p9dh11g1bhsipkps2pqbs00po7pf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.684742148147-f6g3p9dh11g1bhsipkps2pqbs00po7pf</string>
	<key>API_KEY</key>
	<string>AIzaSyAeStURlp3Ph_kSsE7toZJWzB4BvPkvDIY</string>
	<key>GCM_SENDER_ID</key>
	<string>684742148147</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Bennett.Realm3</string>
	<key>PROJECT_ID</key>
	<string>realm3-98be9</string>
	<key>STORAGE_BUCKET</key>
	<string>realm3-98be9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:684742148147:ios:953f095e3d25611c</string>
	<key>DATABASE_URL</key>
	<string>https://realm3-98be9.firebaseio.com</string>
</dict>
</plist>